footer {
   width: 100%;
   height: auto;
   background-color: rgb(245,245,247);
   color: rgb(29,29,31);
}

.footer {
   width: 990px;
   margin: 0 auto;
}
.footer_top {
   padding: 17px 0 20px;
   border-bottom: 1px solid rgb(210,210,215);
}

.footer_top_text {
   font-size: 12px;
   color: rgb(134, 134, 139);
   line-height: 16px;
}
.footer_top_text a {
   font-family: 'SF Pro KR ','SF Pro Display', 'SF Pro Text';
   font-size: 12px;
   color: rgb(81,81,84);
   line-height: 16px;
}
.footer_top_text a:hover {text-decoration: underline;}

.footer_center_up {
   display: flex;
   width: 100%;
   padding: 20px 0 0;
}

.footer_center_up div ul { width: 198px; }

.footer_center_up div ul li {
   font-family: 'SF Pro KR ','SF Pro Display', 'SF Pro Text';
   font-size: 12px;
   line-height: 16px;
   font-weight: 400;
   margin: 0 0 9.6px;
}

.footer_center_up div ul li:nth-child(1) {
   color: rgb(29,29,31);
   font-weight: 600;
}
.footer_center_up div ul li a { color: rgb(81,81,84); }
.footer_center_up div ul li a:hover { text-decoration: underline; }

.footer_center_up div ul:nth-child(2) {
   margin: 30px 0 0 ;
}

.footer_center_down {
   padding: 34px 0 8px;
   border-bottom: 1px solid rgb(210,210,215);
}

.footer_center_down p {
   font-size: 12px;
   color: rgb(134, 134, 139);
   line-height: 16px;
}

.footer_center_down p a {
   font-family: 'SF Pro KR ','SF Pro Display', 'SF Pro Text';
   font-size: 12px;
   color: rgb(0,102,204);
   line-height: 16px;
   font-weight: 400;
}
.footer_center_down p a:hover {text-decoration: underline;}


.footer_bottom_up {
   width: 100%;
   display: flex;
   margin: 8px 0 0;
}
.footer_bottom_up p {
   margin: 0 30px 0 0;
   font-size: 12px;
   color: rgb(134, 134, 139);
   line-height: 16px;
}

.footer_bottom_up_ul {
   margin: 0 30px 0 0;
   font-size: 12px;
   line-height: 16px; 
}

.footer_bottom_up_ul li { padding: 0 10px;}

.footer_bottom_up_ul a {
   color: rgb(173, 173, 173);
}

.footer_bottom_up_a {
   justify-content: flex-end;
   font-family: 'SF Pro KR ','SF Pro Display', 'SF Pro Text';
   font-size: 12px;
   color: rgb(173, 173, 173);
   line-height: 16px;
   font-weight: 400;
}
.footer_bottom_up_a:hover {text-decoration: underline;}

.footer_bottom_up_ul {
   display: flex;
}

.footer_bottom_down {
   display: flex;
}